{% extends 'base.html' %}
{% block title %}{{ judul }}{% endblock %}
{% block content %}

<div class="container mt-4">
<h3 class="mb-3">{{ judul }}</h3>
<div class="card shadow-sm">
  <div class="card-body">

    <form method="post">
      {% csrf_token %}

      {% if judul == 'Edit Barang' %}
      <div class="mb-3">
        <label class="form-label">Kode Barang</label>

        <span class="form-control bg-light">
          {{ form.instance.kode_barang }}
        </span>
      </div>
      {% endif %}
      {% if judul != 'Edit Barang' %}
      <hr>
      <h6 class="mb-3">Tambah Kategori Baru</h6>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Nama Kategori</label>
          <input
            type="text"
            name="nama_kategori_baru"
            class="form-control"
            placeholder="Contoh: Minuman"
          >
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Kode Awal</label>
          <input
            type="text"
            name="kode_awal_baru"
            class="form-control"
            placeholder="Contoh: 354"
          >
        </div>
      </div>

      <small class="text-muted">
        Isi bagian ini jika ingin membuat kategori baru.
      </small>
      <hr>
      <select name="kategori" class="form-select">
        <option value="">-- Pilih Kategori --</option>
        {% for kategori in kategori_list %}
          <option value="{{ kategori.id }}">
            {{ kategori.nama_kategori }}
          </option>
        {% endfor %}
      </select>
      <br>
      {% endif %}

  
      <div class="mb-3">
        <label class="form-label">Nama Barang</label>
        {{ form.nama_barang }}
      </div>

      <div class="mb-3">
        <label class="form-label">Stock</label>
        {{ form.stock }}
      </div>

      <div class="mb-3">
        <label class="form-label">Harga</label>
        {{ form.harga }}
      </div>

      <button type="submit" class="btn btn-primary">
        Simpan
      </button>

      <a href="{% url 'dashboard' %}" class="btn btn-secondary">
        Batal
      </a>

    </form>

  </div>
</div>

</div>

{% endblock %}